.about-text-container {
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

.about-text-container > .faq {
  margin: auto;
}

.about-text-container > .faq > .row > .col-4 {
  align-items: center;
  margin: auto;
}

.about-text-container > .faq > .row > .col-8 > .tab-content > .tab-pane {
  font-size: 2.5vh;
  padding: 1vw;
  border-radius: 1vw;
  background-color: rgba(255, 255, 255, 0.5);
}

.about-text-link {
  color: black;
}

.about-text-link:hover {
  text-decoration: none;
}

.admin-boxes {
  /*height: 70vh;*/
  margin: 2%;
  border-radius: 1vh;
  background-color: bisque;
  padding: 5%;
  padding-bottom: 10px;
}