<!DOCTYPE html>

<!-- =============================================================== -->
<!-- admin_edit_course.html                                          -->
<!-- Author: Caroline di Vittorio                                    -->
<!-- =============================================================== -->

<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="panel">
      <div class="admin-breakdown-general">
          <div class="row p-5 position:fixed">
              <div class="col-12">
                  <div class="row">
                      <div class="col-12">
                          <center><h2>{{ course.getDept() }}: {{ course.getNum() }}</h2>
                          <h3>{{ course.getTitle() }}</h3></center>
                          <hr><br>
                      </div>
                  </div>
                  <div class="row-fluid">
                    <form action="submit_course_edits" method="get" id="editform">
                      <input type="hidden" name="dept" value={{ course.getDept() }}>
                      <input type="hidden" name="classnum" value={{ course.getNum() }}>
                      <div class="row">
                        <div class="col-2"><strong>Approval Status</strong></div>
                        <div class="col-10">
                          {% if course.isEndorsed() == 0 %}
                            <input type="radio" id="approved" name="status" value="Approve">
                            <label>Approved</label><br>
                            <input type="radio" id="pending" name="status" value="Pending">
                            <label>Pending</label><br>
                            <input type="radio" id="denied" checked="checked" name="status" value="Denied">
                            <label>Denied</label><br><br>
                          {% elif course.isEndorsed() == 1 %}
                            <input type="radio" id="approved" name="status" value="Approve">
                            <label>Approved</label><br>
                            <input type="radio" id="pending" checked="checked" name="status" value="Pending">
                            <label>Pending</label><br>
                            <input type="radio" id="denied" name="status" value="Denied">
                            <label>Denied</label><br><br>
                          {% else %}
                            <input type="radio" id="approved" checked="checked" name="status" value="Approve">
                            <label>Approved</label><br>
                            <input type="radio" id="pending"  name="status" value="Pending">
                            <label>Pending</label><br>
                            <input type="radio" id="denied"  name="status" value="Denied">
                            <label>Denied</label><br><br>
                          {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-2"><strong>Instructor Notes</strong></div>
                        <div class="col-10">
                          <textarea name="notes" form="editform" style="width:100%;">{{ course.getNotes() }}</textarea><br><br>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <input class="btn" type="btn" onclick="window.history.back();" value="Cancel">
                          <input type="submit" class="btn" value="Submit">
                        </div>
                      </div>
                    </form>
                  </div>
                  <hr>
                  <div class="row-fluid">
                    <div class="courses-groups">
                      {% for group in groups %}
                      <div style = 'border:3px; border-style:solid; border-color:#E77500; border-radius: 1vw;padding: 0.5em;margin:1em'>
                        <div class="card">
                          <div class="card-body">
                            <div class="row">
                              <div class="col-2">
                                <h5>Group #{{group[0].getGroupId()}}</h5>
                              </div>
                              <!-- Add Button -->
                              <div class="col-10">
                                <button class="btn btn-link" style="padding:0.5; margin:0.5;" data-toggle="modal" data-target="#addModal">Add</button>
                              </div>
                            </div>
                            <p class="card-text">
                              {% for student in group[1] %}
                                <div class="row">
                                  <div class="col-2">
                                    {{student}}
                                  </div>
                                  <!-- Move Button -->
                                  <div class="col-1">
                                    <button class="moveButton btn btn-link" id="submitMove" style="padding:0.5; margin:0.5;" data-toggle="modal" data-target="#moveModal" data-netid={{student}} data={{student}}>Move</button>
                                  </div>
                                  <!-- Remove Button -->
                                  <div class="col-9">
                                    <form action="admin_override" method="post">
                                      <input type="hidden" name="override_netid" value={{student}}>
                                      <input type="hidden" name="groupid" value={{group[0].getGroupId()}}>
                                      <input type="hidden" name="dept" value={{course.getDept()}}>
                                      <input type="hidden" name="classnum" value={{course.getNum()}}>
                                      <input type="hidden" name="override_type" value="remove">
                                      <input type="submit" style="padding:0.5; margin:0.5" class="btn btn-link" value="Remove">
                                    </form>
                                  </div>
                                </div>
                              {% endfor %}
                            </p> 
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
              </div> 
              <!-- MOVE MODAL -->
              <div class="modal" id="moveModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Move Student to a New Group</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>      
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                      Select a new group for this student.
                      <form action="admin_override" id="admin_override_move" method="post">
                        <input type="hidden" name="override_netid" value="" id="override_netid">
                        <input type="hidden" name="dept" value={{course.getDept()}}>
                        <input type="hidden" name="classnum" value={{course.getNum()}}>
                        <input type="hidden" name="override_type" value="move">
                        <select style="padding:2" id="new_groupid" name="new_groupid">
                          {% for group in groups %}
                            <option value={{group[0].getGroupId()}}>
                              <p>Group# {{group[0].getGroupId()}}</p>
                            </option>
                          {% endfor %}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <input type="submit" style="padding:0.5; margin:2" class="btn btn-primary" value="Move">
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Add MODAL -->
              <div class="modal" id="addModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Add New Student</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>      
                    <!-- Modal body -->
                    <div class="modal-body text-center">
                      Enter information for the new student.<br><br>
                      <form action="admin_override" id="admin_override_move" method="post">
                        <input type="hidden" name="dept" value={{course.getDept()}}>
                        <input type="hidden" name="classnum" value={{course.getNum()}}>
                        <input type="hidden" name="override_type" value="add">
                        <input type="text" name="override_netid" placeholder="Netid">
                        <select style="padding:2" id="new_groupid" name="new_groupid">
                          {% for group in groups %}
                            <option value={{group[0].getGroupId()}}>
                              <p>Group# {{group[0].getGroupId()}}</p>
                            </option>
                          {% endfor %}
                        </select>
                        <input type="submit" style="padding:0.5; margin:2" class="btn btn-primary" value="Add">
                      </form>
                    </div>
                  </div>
                </div>
              </div>


              


          </div>
      </div>
    </div>

    <script type="text/javascript">
       function setup()
        {

          $(document).on("click", ".moveButton", function() {
						//get data-netid attribute of the clicked element
						let netid = $(this).attr('data-netid');
						$("input[id='override_netid']").val(netid);
					});
        }
      
      $('document').ready(setup);  
    </script>

  {% include 'footer.html' %}
  </body>

  </div>

</html>