<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
     <div class="container" style="background-color: #E77500;">
        <h1 style="text-align: center">Welcome to TigerStudy!</h1><br>
        <div class="row-fluid" >
            <form action="search" method="get">
              <div class="row" style="width:100%">
                  <div class="col-6">
                      <input type="text" class="form-control" id="dept-input" name="dept" value='{{prevDept}}' placeholder="Department">
                  </div>
                  <div class="col-6">
                      <input type="text" class = "form-control" id="num-input" name="coursenum" value='{{prevCoursenum}}' placeholder="Number">
                  </div>
              </div>
            </form>
            <br>
        </div>
     </div>

    <div class="container">
        <div class="row-fluid">
            <p id="results-list"></p>
        </div>
    </div>

    {% include 'footer.html' %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        function setup()
        {
            $('#dept-input').focus();
            $('#dept-input').on('input', getResults);
            $('#num-input').on('input', getResults);
            getResults();
        }

        function handleResponse(response)
        {
            $('#results-list').html(response);
        }

        function handleJoinClass(response){
            $('#join-class').html(response);
        }

        let request = null;
        function getResults()
        {
            let dept = $('#dept-input').val();
            dept = encodeURIComponent(dept);
            let num = $('#num-input').val();
            num = encodeURIComponent(num);

            let url='/search?dept=' + dept + '&coursenum=' + num;

            if (request != null)
                request.abort();
            request = $.ajax(
                {
                    type: "GET",
                    url: url,
                    success:handleResponse
                }
            );

        }

        function joinClass(input) 
        {
            let dept = input.getAttribute("dept");
            let num = input.getAttribute("num");

            dept = encodeURIComponent(dept);
            num = encodeURIComponent(num);

            let url = '/joinClass?' +
                'dept=' + dept +
                '&num=' + num

            if (request != null)
                request.abort();

            request = $.ajax(
                {
                    type: 'GET',
                    url: url,
                    success: handleJoinClass
                }
            );
        };
        $('document').ready(setup);
    </script>
  </body>

</html>

