<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
     <div class="container" style="background-color: #E77500;">
        <h1 style="text-align: center; padding:5px">Welcome to TigerStudy</h1><br>
        <div class="row-fluid" >
            <form action="search" method="get">
              <div class="row" style="width:100%">
                  <div class="col-6">
                      <input type="text" class="form-control" id="dept-input" name="dept" value='{{prevDept}}' placeholder="Department">
                  </div>
                  <div class="col-6">
                      <input type="text" class = "form-control" id="num-input" name="coursenum" value='{{prevCoursenum}}' placeholder="Number">
                  </div>
              </div>
            </form>
            <br>
        </div>
     </div>

    <div class="container p-0" style="height:100%">
        <div class="row-fluid">
            <p id="results-list"></p>
        </div>
    </div>
    <br>
    <br>

    <!-- Join MODAL -->
    <div class="modal" id="joinModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Join <span id="join-dept-header"></span> <span id="join-num-header"></span></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>      
            <!-- Modal body -->
            <div class="modal-body">
            <div style="margin: 1em;">By using joining a group on TigerStudy for this class, you are <strong>agreeing to respect all of Princeton's collaboration policies</strong>,
              including general Honor Code rules and also course-specific guidelines.</div>
            
              <span id="instructor-notes"> </span>
            
              <form action="joinClass" id="join-class" method="get">
                <input type="hidden" id="join-dept" name="dept" value="">
                <input type="hidden" id="join-num" name="classnum" value="">
                <input type="submit" style="padding:0.5; margin:2" class="btn btn-primary" value="I accept">
              </form>
            </div>
          </div>
        </div>
      </div>

    {% include 'footer.html' %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        function setup()
        {
            $('#dept-input').focus();
            $('#dept-input').on('input', getResults);
            $('#num-input').on('input', getResults);
            getResults();

            $(document).on("click", ".joinButton", function() {
						//get data-netid attribute of the clicked element
						let dept = $(this).attr('data-dept');
            let num = $(this).attr('data-num');
            let inst_notes = $(this).attr('data-notes');
            if (inst_notes != "") {
              inst_notes = '<p style = "border:3px; border-style:solid; border-color:#FF0000; border-radius: 1vw; padding: 1em; margin:1em">' + 
              "Your instructor wants to remind you of course policies. Please review the following note: <br> <strong>" + inst_notes + "</strong></p>"
            }
						$("input[id='join-dept']").val(dept);
            $("input[id='join-num']").val(num);
            $("span[id='instructor-notes']").html(inst_notes);
            $("span[id='join-dept-header']").html(dept);
            $("span[id='join-num-header']").html(num);

					});


        }

        function handleResponse(response)
        {
            $('#results-list').html(response);
        }

        function handleJoinClass(response){
            $('#join-class').html(response);
        }

        let request = null;
        function getResults()
        {
            let dept = $('#dept-input').val();
            let num = $('#num-input').val();
            dept = encodeURIComponent(dept);
            num = encodeURIComponent(num);

            let url='/search?dept=' + dept + '&coursenum=' + num;

            if (request != null)
                request.abort();
            request = $.ajax(
                {
                    type: "GET",
                    url: url,
                    success:handleResponse
                }
            );

        }

        function joinClass(input) 
        {
            let dept = input.getAttribute("dept");
            let num = input.getAttribute("num");

            dept = encodeURIComponent(dept);
            num = encodeURIComponent(num);

            let url = '/joinClass?' +
                'dept=' + dept +
                '&num=' + num

            if (request != null)
                request.abort();

            request = $.ajax(
                {
                    type: 'GET',
                    url: url,
                    success: handleJoinClass
                }
            );
        };
        $('document').ready(setup);
    </script>
  </body>

</html>

