<!DOCTYPE html>

<!-- =============================================================== -->
<!-- mygroups.html                                                   -->
<!-- Author: Caroline di Vittorio                                    -->
<!-- =============================================================== -->

<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container-fluid">
      <div class="row p-3">
        <div class="col-6">
          <div style = 'border:3px; border-style:solid; border-color:#E77500; border-radius: 1vw;padding: 1em;'>
            <h3>My Groups</h3>
            <div id="groupsList">
              {% for group in myGroups %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" onclick="getMyGroupInfo(this)" groupId="{{ group.groupId }}" dept="{{ group.dept }}" coursenum="{{ group.coursenum }}">
                  {{ group.title }}
                  <span class="badge badge-primary badge-pill">
                    {{ group.students|length - 1 }} partner{% if group.students|length - 1 != 1 %}s{% endif %}
                  </span>
                </li>
              {% endfor %}
            </div>
          </div> <br>
          <div style = 'border:3px; border-style:solid; border-color:#E77500; border-radius: 1vw;padding: 1em;'>
            <form>
              <h3>Contact Information</h3>
              <div class="row">
                <div class="col-3">
                  <label>Netid:</label><br>
                  <label>First name:</label><br>
                  <label>Last name:</label><br>
                  <label>Phone: </label>
                </div>
                <div class="col-9">
                  <label>{{netid}}</label><br>
                  <input type="text" id="fname-input" name="fname" placeholder={{std_info.getFirstName()}}><br>
                  <input type="text" id="lname-input" name="lname" placeholder={{std_info.getLastName()}}><br>
                  <input type="text" id="phone-input" name="phone" placeholder={{std_info.getPhone()}}>
                  <input type="submit" value="Save" onclick="editContact">
                </div>
              </div>
            </form>
          </div>
          
          
        </div>
        <div class="col-6">
          <div style = 'border:3px; border-style:solid; border-color:#E77500; border-radius: 1vw;padding: 1em;'>
            <div class="group-col" id="groupResults"></div>
            <div class="group-col" id="leaveResults"></div>
          </div>
        </div>
      </div>
    </div>
    
    {% include 'footer.html' %}
      
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
    </script>
    <script src=
    "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    
    <script>
      'use strict';

      function handleMyGroup(response)
      {
        $('#groupResults').html(response);
        $('#leaveResults').html('');
      }

      function handleGroupChange(response)
      {
        $('#leaveResults').html(response);
        setTimeout(() => { location.reload(); }, 1000);
        // location.reload();
      }

      function handleGroupLeave(response)
      {
        $('#leaveResults').html(response);
        setTimeout(() => { location.reload(); }, 100);
        // location.reload();
      }

      function handleContactResponse(response)
      {

      }

      let request = null;

      function getAllResults()
      {    
        let url = '/search?' +
          'dept=' +
          '&coursenum='
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleSearch
            }
        );
      }

      function getMyGroupInfo(c)
      { 
        $('.active').removeClass('active');
        c.classList.add('active');

        let groupId = c.getAttribute("groupId");
        groupId = encodeURIComponent(groupId);

        let url = '/getMyGroupInfo?' +
          'groupId=' + groupId
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleMyGroup
            }
        );
      }

      let request = null;
      function editContact()
      { 

        let fname = $('#fname-input').val();
        fname = encodeURIComponent(fname);
        let lname = $('#lname-input').val();
        lname = encodeURIComponent(lname);
        let phone = $('#phone-input').val();
        phone = encodeURIComponent(phone)
        
        let url='/editContact?fname=' + fname + '&lname=' + lname + '&phone' + phone;

        if (request != null)
            request.abort();
        request = $.ajax(
            {
                type: "GET",
                url: url,
                success:handleContactResponse
            }
        );

        
      }

      function changeGroup(c)
      {   
        let groupId = c.getAttribute("groupId");
        let dept = c.getAttribute("dept");
        let coursenum = c.getAttribute("coursenum");

        groupId = encodeURIComponent(groupId);
        dept = encodeURIComponent(dept);
        coursenum = encodeURIComponent(coursenum);

        let url = '/changeGroup?' +
          'groupId=' + groupId +
          '&dept=' + dept +
          '&coursenum=' + coursenum
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleGroupChange
            }
        );
      }

      function leaveGroup(c)
      {   
        let groupId = c.getAttribute("groupId");
        let dept = c.getAttribute("dept");
        let coursenum = c.getAttribute("coursenum");

        groupId = encodeURIComponent(groupId);
        dept = encodeURIComponent(dept);
        coursenum = encodeURIComponent(coursenum);

        let url = '/leaveGroup?' +
          'groupId=' + groupId +
          '&dept=' + dept +
          '&coursenum=' + coursenum
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleGroupLeave
            }
        );

      }

      function setup()
      {
        
      }

      $('document').ready(setup);
    </script>

  </body>
</html>