<!DOCTYPE html>

<!-- =============================================================== -->
<!-- mygroups.html                                                   -->
<!-- Author: Caroline di Vittorio                                    -->
<!-- =============================================================== -->

<html>
  <head>
    {% include 'header.html' %}
  </head>
  <body>
    {% include 'nav.html' %}

    <div class="container-fluid">
      <div class="row p-3">
        <div class="col-6">
          <div style = 'border:3px; border-style:solid; border-color:#E77500; border-radius: 1vw;padding: 1em;'>
            <h3>My Groups</h3>
            <div id="groupsList">
              {% for group in myGroups %}
                <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" onclick="getMyGroupInfo(this)" groupId="{{ group.groupId }}" dept="{{ group.dept }}" coursenum="{{ group.coursenum }}">
                  {{ group.title }}
                  <span class="badge badge-primary badge-pill">
                    {{ group.students|length - 1 }} partner{% if group.students|length - 1 != 1 %}s{% endif %}
                  </span>
                </li>
              {% endfor %}
            </div>
          </div> <br>
          <div style = 'border:3px; border-style:solid; border-color:#E77500; border-radius: 1vw;padding: 1em;padding-bottom: 0em'>
            <form action="editContact" method="post">
              <div class="row">
                <div class="col-12">
                  <h3>Contact Information</h3>
                </div>
                <!-- <div class="col-3" style="float: right">
                  <button type="button" class="btn btn-link" id="editContactButton" style="color:grey; text-align:right" onclick="editContactButton"><h6>Edit</h6></button>
                </div> -->
              </div>
              <div class="row">
                <div class="col-3">
                  <label>Netid:</label><br>
                  <label>First name:</label><br>
                  <label>Last name:</label><br>
                  <label>Phone: </label>
                </div>
                <div class="col-9">
                  <label>{{netid}}</label><br>
                  <input type="text" id="fname-input" name="fname-input" value={{std_info.getFirstName()}}><br>
                  <input type="text" id="lname-input" name="lname-input" value="{{std_info.getLastName()}}"><br>
                  <input type="text" id="phone-input" name="phone-input" value={{std_info.getPhone()}}>
                  <input type="submit" value="Save">
                </div>
              </div>
              <div class="row-fluid">
                {% if contact_alert != 'None' %}
                  <div class="alert alert-success" role="alert" style="text-align: center;">
                    {{contact_alert.getMessage()}}
                  </div>
                {% endif %}
              </div>
            </form>
          </div>
          
          
        </div>
        <div class="col-6">
          <div style = 'border:3px; border-style:solid; border-color:#E77500; border-radius: 1vw;padding: 1em;height:100%'>
            <div class="group-col" id="groupResults"></div>
            <div class="group-col" id="leaveResults"></div>
          </div>
        </div>
      </div>
    </div>
    
    {% include 'footer.html' %}
      

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    
    <script>
      'use strict';

      function handleMyGroup(response)
      {
        $('#groupResults').html(response);
        $('#leaveResults').html('');
      }

      function handleGroupChange(response)
      {
        $('#leaveResults').html(response);
        setTimeout(() => { location.reload(); }, 1000);
        // location.reload();
      }

      function handleGroupLeave(response)
      {
        $('#leaveResults').html(response);
        setTimeout(() => { location.reload(); }, 100);
        // location.reload();
      }

      
      let request = null;
      function getAllResults()
      {    
        let url = '/search?' +
          'dept=' +
          '&coursenum='
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleSearch
            }
        );
      }

      function getMyGroupInfo(c)
      { 
        $('.active').removeClass('active');
        c.classList.add('active');

        let groupId = c.getAttribute("groupId");
        groupId = encodeURIComponent(groupId);

        let url = '/getMyGroupInfo?' +
          'groupId=' + groupId
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleMyGroup
            }
        );
      }


      function changeGroup(c)
      {   
        let groupId = c.getAttribute("groupId");
        let dept = c.getAttribute("dept");
        let coursenum = c.getAttribute("coursenum");

        groupId = encodeURIComponent(groupId);
        dept = encodeURIComponent(dept);
        coursenum = encodeURIComponent(coursenum);

        let url = '/changeGroup?' +
          'groupId=' + groupId +
          '&dept=' + dept +
          '&coursenum=' + coursenum
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleGroupChange
            }
        );
      }

      function leaveGroup(c)
      {   
        let groupId = c.getAttribute("groupId");
        let dept = c.getAttribute("dept");
        let coursenum = c.getAttribute("coursenum");

        groupId = encodeURIComponent(groupId);
        dept = encodeURIComponent(dept);
        coursenum = encodeURIComponent(coursenum);

        let url = '/leaveGroup?' +
          'groupId=' + groupId +
          '&dept=' + dept +
          '&coursenum=' + coursenum
        
        if (request != null)
            request.abort();
        
        request = $.ajax(
            {
              type: 'GET',
              url: url,
              success: handleGroupLeave
            }
        );

      }

      function setup()
      {
        
      }

      $('document').ready(setup);
    </script>

  </body>
</html>